<div class="fields">
<p>
  <%= f.label :name, "Player name" %>
  <%= f.text_field :name %>
  <%#= f.label :has_cards, "Do have cards?" %>
  <%#= f.text_field :has_cards %>
</p>
<!--<p><%#= link_to_add_fields "Add Player", f, :players %></p>-->
</div>