<h1> New Game</h1>
<%= render 'form' %>

<%= link_to 'Back', "home#index" %>
<!--<table >-->
  <!--<%#= @p1_cards%>-->
  <!--<%# @p1_cards.each do |card| %>-->
      <!--<tr>-->

        <!--<%# for i in 0..5 do %>-->

            <!--<%#= @p1_cards%>-->
            <!--<td align="center">-->
              <!--<%#=image_tag "cards/"+card.suit + card.value + ".png" %>-->
            <!--</td>-->
        <!--<%#end %>-->
      <!--</tr>-->

  <!--<%#end%>-->
<!--</table>-->